{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "mobile (debug)",
            "program": "lib/main.dart",
            "cwd": "mobile",
            "request": "launch",
            "type": "dart",
            "args": [
                "--dart-define=GOOGLE_SIGN_IN_WEB_CLIENT_ID=YOUR_WEB_CLIENT_ID.apps.googleusercontent.com"
            ]
        },
        {
            "name": "mobile (release)",
            "program": "lib/main.dart",
            "cwd": "mobile",
            "request": "launch",
            "type": "dart",
            "args": [
                "--release",
                "--dart-define=GOOGLE_SIGN_IN_WEB_CLIENT_ID=YOUR_WEB_CLIENT_ID.apps.googleusercontent.com"
            ]
        }
    ]
}
